@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Reproducibility Web-Interface";
}

@model UserConfiguration

<div>
    <h1>IRT - IIASA Reproducibility Tool</h1>
    <br />

    @{
        Html.BeginForm(new { @class = "form-horizontal", role = "form", method="post"});

        <div class="form-group">
            @Html.LabelFor(m => m.Program, "Program")
            @Html.ValidationMessageFor(m => m.Program)
            @Html.DropDownListFor(m => m.Program,
                new List<SelectListItem>
                {
                    new SelectListItem{ Text="Gams", Value = "Gams" }
                },
                new { @class = "form-control", @id = "program" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ProgramVersion, "Program Version")
            @Html.ValidationMessageFor(m => m.ProgramVersion)
            @Html.DropDownListFor(m => m.ProgramVersion,
                new List<SelectListItem>
                {
                    new SelectListItem{ Text="1.0", Value = "1.0" },
                    new SelectListItem{ Text="2.0", Value = "2.0" },
                    new SelectListItem{ Text="3.0", Value = "3.0" }
                },
                new { @class = "form-control", @id = "programVersion" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ProgramArchitecture, "Program Architecture")
            @Html.ValidationMessageFor(m => m.ProgramArchitecture)
            @Html.DropDownListFor(m => m.ProgramArchitecture,
                new List<SelectListItem>
                {
                    new SelectListItem{ Text="x64 (64 bit)", Value = Architectures.x64_64.ToString() },
                    new SelectListItem{ Text="x86 (32 bit)", Value = Architectures.x86_32.ToString() }
                },
                new { @class = "form-control", @id = "programArchitecture" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GitHubUser, "GitHub User ID")
            @Html.ValidationMessageFor(m => m.GitHubUser)
            @Html.TextBoxFor(m => m.GitHubUser, new { @class = "form-control", @id = "githubUser", @Value = "vwmaus", @type = "text" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Model, "Model / Script")
            @Html.ValidationMessageFor(m => m.Model)
            @Html.DropDownListFor(m => m.Model, (IEnumerable<SelectListItem>)ViewBag.repositories, new { @class = "form-control", @id = "model" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ModelVersion, "Model Version")
            @Html.ValidationMessageFor(m => m.ModelVersion)
            @Html.DropDownListFor(m => m.ModelVersion, (IEnumerable<SelectListItem>)ViewBag.repositoryVersionList, new { @class = "form-control", @id = "modelversion" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GeonodeModelData, "Geonode Model Data")
            @Html.ValidationMessageFor(m => m.GeonodeModelData)
            @Html.DropDownListFor(m => m.GeonodeModelData, (IEnumerable<SelectListItem>)ViewBag.geonodeDocuments, new { @class = "form-control", @id = "geonodeModelData" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GeonodeModelTag, "Geonode Model Tag")
            @Html.ValidationMessageFor(m => m.GeonodeModelTag)
            @Html.DropDownListFor(m => m.GeonodeModelTag, (IEnumerable<SelectListItem>)ViewBag.geonodeDocumentTags, new { @class = "form-control", @id = "genodelModelTag" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LicencePath, "Licence Path")
            @Html.ValidationMessageFor(m => m.LicencePath)
            @Html.TextBoxFor(m => m.LicencePath, new { @class = "form-control", @id = "licencePath", @rows = "1", @value = "", @type = "text" })
            <small id="fileHelp" class="form-text text-muted">Type the path of your program licence in case the executing program requires a licence.</small>
        </div>

        <div class="form-check">

            <div>
                @Html.CheckBoxFor(m => m.SaveToDatabase, new { @class = "form-check-input", @type = "checkbox" })
                @Html.LabelFor(m => m.SaveToDatabase, "Save result to IIASA database")
            </div>

            <div>
                @Html.CheckBoxFor(m => m.DownloadResult, new { @class = "form-check-input", @type = "checkbox" })
                @Html.LabelFor(m => m.DownloadResult, "Download Result")
            </div>
        </div>

        <br />

        <div class="form-group">
            <input type="submit" value="Download Dockerfiles" class="btn btn-default" asp-action="DownloadDockerfiles" asp-controller="Home"/>
        </div>

        <div class="form-group">
            <a id="btn_downloadGeonodeData" class="btn btn-default">Download Geonode File</a>
        </div>

        <div class="form-group">
            <input type="submit" value="Run Script" class="btn btn-default" asp-action="RunScript" asp-controller="Home"/>
        </div>

        Html.EndForm();
    }
    
    <div id="downloadSection"></div>
</div>
